@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.modal.open {
  top: 0;
  left: 0;
}
.modal.close {
  height: 0;
  display: none;
}
.modal-content {
  border-radius: 7px;
  background-color: #ea4a32;
  height: 250px;
  width: 600px;
  justify-content: flex-end;
  margin: 0 auto;
  margin-top: 200px;
}
.modal__close {
  height: 50px;
  width: 50px;
  color: white;
  cursor: pointer;
}
.modal__content-header {
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  background: #d7432d;
  padding-bottom: 0px;
  align-items: center;
}
.modal__content-main {
  font-family: "Roboto";
  color: white;
  font-size: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  padding: 10px;
  padding-bottom: 0px;
}
.modal-header {
  color: white;
  font-size: 23px;
  font-weight: 600;
}
.modal-buttton {
  color: white;
  padding: 15px 30px;
  border: none;
  margin: 10px 20px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  background-color: #b63421;
  border-radius: 4px;
}
.modal-btn-flex {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  cursor: pointer;
}
.coll{
  background-color: #6e2dd7;
}