@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background: #1b2631;
}

.double-border-button {
  text-decoration: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 10px 30px;
  position: relative;
  border: 2px solid #f1c40f;
  background: #1b2631;
  color: #f1c40f;
  font-family: "Roboto", sans-serif;
  transition: 0.4s;
  text-transform: uppercase;
}
.double-border-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}
.double-border-button:hover:after {
  border-color: #f1c40f;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}
.double-border-button-red{
  border: 2px solid red;
  color: red;
}
.double-border-button-red:hover:after{
  border-color:red;
}

@media (min-width: 320px) and (max-width: 480px) {

  body {
    background: #285b8d;
  }


}